<div class="queriesController subpage">

  <div class="spinner" ng-show="vm.loading">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div ng-show="!vm.loading">
    <h2>SQL queries</h2>
    <div class="underline-title-card"></div>
    <div class="row">
      <div class="col-12">

        <form class="form-inline filter-form" ng-submit="vm.getStatsForPage(0)">

          <div>

            <div class="form-group">
                <label for="search">Search</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="search" ng-model="vm.filter.search"/>
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="ion-search"></span>
                      </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="used" ng-model="vm.filter.used">
                <label class="custom-control-label" for="used">Query used</label>
              </div>
            </div>

            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="dynamic" ng-model="vm.filter.dynamic">
                <label class="custom-control-label" for="dynamic">Dynamic query</label>
              </div>
            </div>

            <div class="form-group" ng-if="vm.role !== 'APP_DEV'">
              <label>Developers</label>
              <div ng-dropdown-multiselect="" options="vm.developers"
                   selected-model="vm.selectedDevelopers"></div>
            </div>

          </div>

          <div>
            <div class="form-group">
              <label for="dateFrom">Date from</label>
              <div class="input-group">
                <input id="dateFrom" type="text" class="form-control" uib-datepicker-popup="{{ vm.format }}"
                       ng-model="vm.filter.dateFrom" is-open="vm.datePickerOpen.dateFrom" ng-required="true"
                       close-text="Close" alt-input-formats="[vm.format]" placeholder="dd-MM-yyyy" readonly/>
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary" ng-click="vm.open('dateFrom')">
                    <span class="ion-android-calendar"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="dateTo">Date to</label>
              <div class="input-group">
                <input id="dateTo" type="text" class="form-control" uib-datepicker-popup="{{ vm.format }}"
                       ng-model="vm.filter.dateTo" is-open="vm.datePickerOpen.dateTo" ng-required="true"
                       close-text="Close" alt-input-formats="[vm.format]" placeholder="dd-MM-yyyy" readonly/>
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary" ng-click="vm.open('dateTo')">
                    <span class="ion-android-calendar"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>

          </div>

        </form>

      </div>

      <div class="col-12">

        <form class="form-inline pull-right">

          <div class="form-group">
            <label>Chart type</label>
            <button type="button" class="btn btn-primary {{vm.chartType === 'BASIC' ? 'active' : ''}}" ng-click="vm.createChart('BASIC')">Basic</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary {{vm.chartType === 'DEVELOPERS' ? 'active' : ''}}" ng-click="vm.createChart('DEVELOPERS')">Developers</button>
          </div>
        </form>

      </div>

      <div class="chart-field" id="chart"></div>

      <div class="col-12 mt-5" id="table">

        <div class="spinner" ng-show="vm.loadingTable" style="{{vm.fixedHeight}}">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>

        <div class="empty" ng-if="vm.data.list.queries.length === 0">
          No data
        </div>

        <table  ng-if="!vm.loadingTable && vm.data.list.queries.length > 0">
          <tbody >
            <tr class="thead" >
              <td class="td td-1">SQL</td>
              <td class="td td-2">Hash<span class="ion ion-ios-copy-outline"></span></td>
              <td class="td td-3">Date</td>
              <td class="td td-4">Developer<span class="ion ion-ios-copy-outline"></span></td>
              <td class="td td-5">Used</td>
              <td class="td td-6">Dynamic</td>
            </tr>
          </tbody>
          <tbody >
            <tr ng-repeat="query in vm.data.list.queries track by $index" class="tr">

              <td class="td td-1 clickable" ng-click="vm.editQuery(query)">
              {{ query.query }}
              </td>

              <td class="td td-2 clickable" ng-click="vm.copyToClipboard(query.hash)">
                  {{ query.hash }}
              </td>

              <td class="td td-3">
                  {{ query.queryDate | date : 'dd-MM-yyyy hh:mm:ss' }}
              </td>

              <td class="td td-4 clickable" ng-click="vm.copyToClipboard(query.developerName)">
                  {{ query.developerName }}
              </td>

              <td class="td td-5 boolean">
                <span class="{{query.used ? 'ion-android-checkbox' : 'ion-android-checkbox-blank'}}"></span>
              </td>

              <td class="td td-6 boolean">
                <span class="{{query.dynamic ? 'ion-android-checkbox' : 'ion-android-checkbox-blank'}}"></span>
              </td>

            </tr>
          </tbody>
        </table>

        <nav ng-if="vm.data.list.queries.length > 0" class="mt-2">
          <ul class="pagination">
            <li class="page-item {{vm.page > 0 ? '' : 'disabled'}}"
                ng-if="vm.data.pagination.totalPages > 1">
              <a class="page-link" href="" ng-click="vm.getStatsForPage(vm.page - 1)">Previous</a>
            </li>

            <li class="page-item {{vm.page == page ? 'active' : ''}}"
                ng-repeat="page in vm.data.pagination.pages">
              <a class="page-link" href="" ng-click="vm.getStatsForPage(page)">{{page+1}}</a>
            </li>

            <li class="page-item {{vm.page+2 == vm.data.pagination.totalPages ? 'disabled' : ''}}"
                ng-if="vm.data.pagination.totalPages > 1">
              <a class="page-link" href="" ng-click="vm.getStatsForPage(vm.page + 1)">Next</a>
            </li>

          </ul>
        </nav>

      </div>

    </div>

  </div>
</div>
</div>
