<div class="queriesController subpage">

  <div class="spinner" ng-show="vm.loading">
    <div class="lds-ellipsis">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div ng-show="!vm.loading">
    <h2>SQL queries</h2>
    <div class="underline-title-card"></div>
    <div class="row">
      <div class="col-12">

        <form class="form-inline filter-form" ng-submit="vm.getStatsForPage(0)">

          <div>

            <div class="form-group">
                <label for="search">Search</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="search" ng-model="vm.filter.search"/>
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <span class="ion-search"></span>
                      </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="used" ng-model="vm.filter.used">
                <label class="custom-control-label" for="used">Query used</label>
              </div>
            </div>

            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="dynamic" ng-model="vm.filter.dynamic">
                <label class="custom-control-label" for="dynamic">Dynamic query</label>
              </div>
            </div>

            <div class="form-group" ng-if="vm.role !== 'APP_DEV'">
              <label>Developers</label>
              <div ng-dropdown-multiselect="" options="vm.developers"
                   selected-model="vm.selectedDevelopers"></div>
            </div>

          </div>

          <div>
            <div class="form-group">
              <label for="dateFrom">Date from</label>
              <div class="input-group">
                <input id="dateFrom" type="text" class="form-control" uib-datepicker-popup="{{ vm.format }}"
                       ng-model="vm.filter.dateFrom" is-open="vm.datePickerOpen.dateFrom" ng-required="true"
                       close-text="Close" alt-input-formats="[vm.format]" placeholder="dd-MM-yyyy" readonly/>
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary" ng-click="vm.open('dateFrom')">
                    <span class="ion-android-calendar"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="dateTo">Date to</label>
              <div class="input-group">
                <input id="dateTo" type="text" class="form-control" uib-datepicker-popup="{{ vm.format }}"
                       ng-model="vm.filter.dateTo" is-open="vm.datePickerOpen.dateTo" ng-required="true"
                       close-text="Close" alt-input-formats="[vm.format]" placeholder="dd-MM-yyyy" readonly/>
                <div class="input-group-append">
                  <button type="button" class="btn btn-primary" ng-click="vm.open('dateTo')">
                    <span class="ion-android-calendar"></span>
                  </button>
                </div>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-primary">Search</button>
            </div>

          </div>

        </form>

      </div>

      <div class="col-12">

        <form class="form-inline pull-right">

          <div class="form-group">
            <label>Chart type</label>
            <button type="button" class="btn btn-primary {{vm.chartType === 'BASIC' ? 'active' : ''}}" ng-click="vm.createChart('BASIC')">Basic</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary {{vm.chartType === 'DEVELOPERS' ? 'active' : ''}}" ng-click="vm.createChart('DEVELOPERS')">Developers</button>
          </div>
        </form>

      </div>

      <div class="chart-field" id="chart"></div>

      <div class="col-12 mt-5" id="table">

        <div class="spinner" ng-show="vm.loadingTable" style="{{vm.fixedHeight}}">
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>

        <div class="empty" ng-if="vm.data.list.queries.length === 0">
          No data
        </div>

        <div class="table-flex" ng-if="!vm.loadingTable && vm.data.list.queries.length > 0">
          <div class="tbody">
            <div class="tr thead">
              <div class="td">SQL</div>
              <div class="td medium-size">Hash</div>
              <div class="td medium-size">Date</div>
              <div class="td large-size">Developer</div>
              <div class="td small-size">Used</div>
              <div class="td small-size">Dynamic</div>
            </div>
          </div>
          <div class="tbody">
            <div ng-repeat="query in vm.data.list.queries track by $index" class="tr">

              <div class="td clickable" ng-click="vm.showInput('query', query)">
                <span ng-show="!query.queryInput">{{ query.query }}</span>

                <div class="form-group" ng-show="query.queryInput">
                  <textarea class="form-control" ng-model="query.query"></textarea>
                  <button type="button" class="btn btn-primary" ng-click="vm.updateQuery(query, $event)">
                    <span class="ion-checkmark"></span>
                  </button>
                </div>

              </div>

              <div class="td medium-size clickable" ng-click="vm.showInput('hash', query)">
                  <span ng-show="!query.hashInput">{{ query.hash }}</span>
                  <input ng-show="query.hashInput" type="text" class="form-control" value="{{query.hash}}" readonly/>
              </div>

              <div class="td medium-size">
                  {{ query.queryDate | date : 'dd-MM-yyyy hh:mm:ss' }}
              </div>

              <div class="td large-size clickable" ng-click="vm.showInput('developerName', query)">
                  <span ng-show="!query.developerNameInput">{{ query.developerName }}</span>
                  <input ng-show="query.developerNameInput" type="text" class="form-control" value="{{query.developerName}}" readonly/>
              </div>

              <div class="td boolean small-size">
                <span class="{{query.used ? 'ion-android-checkbox' : 'ion-android-checkbox-blank'}}"></span>
              </div>

              <div class="td boolean small-size">
                <span class="{{query.dynamic ? 'ion-android-checkbox' : 'ion-android-checkbox-blank'}}"></span>
              </div>

            </div>
          </div>
        </div>

        <nav ng-if="vm.data.list.queries.length > 0" class="mt-2">
          <ul class="pagination">
            <li class="page-item {{vm.page > 0 ? '' : 'disabled'}}"
                ng-if="vm.data.pagination.totalPages > 1">
              <a class="page-link" href="" ng-click="vm.getStatsForPage(vm.page - 1)">Previous</a>
            </li>

            <li class="page-item {{vm.page == page ? 'active' : ''}}"
                ng-repeat="page in vm.data.pagination.pages">
              <a class="page-link" href="" ng-click="vm.getStatsForPage(page)">{{page+1}}</a>
            </li>

            <li class="page-item {{vm.page+2 == vm.data.pagination.totalPages ? 'disabled' : ''}}"
                ng-if="vm.data.pagination.totalPages > 1">
              <a class="page-link" href="" ng-click="vm.getStatsForPage(vm.page + 1)">Next</a>
            </li>

          </ul>
        </nav>

      </div>

    </div>

  </div>
</div>
</div>
