.queriesController {

  .empty {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    color: #007bff;
    font-weight: bold;
  }

  .spinner {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .form-inline {

    &.filter-form {

      > div {
        display: flex;
        width: 100%;
      }

    }

    .form-group {
      margin-right: 1rem;
      margin-top: 0.5rem;

      label {
        margin-right: 1rem;
      }

      .input-group-btn {
        margin-left: 0.5rem;
      }

      .input-group-text {
        border-bottom-right-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
      }

    }

  }

  table {
    width: 100%;
  }

  tr {
    display: flex;
    flex-direction: row;

    &.thead {
      font-weight: bold;

      > .td {
        background: #007bff;
        color: white;
        border-left: 1px solid #fff;

        &:first-child {
          border-left: 1px solid #007bff;
        }

        span {
          margin-left: 1rem;
        }

      }

    }

    &:not(.thead):last-child {

      .td {

        &:first-child {
          border-bottom-left-radius: 6px;
        }

        &:last-child {
          border-bottom-right-radius: 6px;
        }

      }

    }

    .td {
      border: 1px solid #dee2e6;
      padding: .5rem;
      margin-top: -1px;
      margin-left: -1px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 3rem;

      &.boolean {
        color: #007bff;
        font-size: 1.5rem
      }

      &.td-1 {
        width: 25%;
      }

      &.td-2 {
        width: 20%;
      }

      &.td-3 {
        width: 25%;
      }

      &.td-4 {
        width: 20%;
      }

      &.td-5 {
        width: 5%;
      }

      &.td-6 {
        width: 5%;
      }

    }

  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .form-inline {

    .form-group:first-child {
      label {
        width: 5rem;
      }
    }

  }

}