.billingController {

  .progress {
    height: 1.5rem;
    margin: 1rem;
  }

  .progress-bar.zero {
    width: 100% !important;
    text-align: center;
    background: gray;
  }

  label {
    margin: 1rem;
    margin-bottom: 0;
  }

}