<section class="sign-card-reset-form">
  <div class="sign-contain-reset-form">
    <div class="sign-information-reset-reset-form">
      <div class="contain-picture-logo-reset-form">
        <img
          src="./images/auth/jsql-logo-alfa.png"
          alt="JSQL Admin"
          class="picture-logo-reset-form"
        />
      </div>
    </div>
    <div style="float: left;width: 100%;font-size: 12px;">
      <p class="text-inverse text-right" style="padding: 0;margin: 0;">
        Back to
        <a style="margin-right: 5%; color: blue;" href="/auth/login">
          Login.
        </a>
      </p>
    </div>
    <div class="sign-underline-logo-reset-form"></div>
    <div class="sign-form-reset-form">
      <form ng-submit="vm.validateResetPasswordForm()">
        <div class="title-sign-reset-form">
          You forgot your Password? Don't worry.
        </div>
        <div class="form-sign-reset-form">
          <div class="icon-sign-reset-form"><i class="fa fa-envelope"></i></div>
          <label class="field-resize field a-field a-field_a1 page__field">
            <input
              type="text"
              placeholder="Your Email Address"
              class="field__input a-field__input"
              ng-model="vm.email"
              ng-blur="vm.validateEmail(true)"
              ng-change="vm.validateEmail()"
            />
            <span class="a-field__label-wrap">
              <span class="a-field__label"> Your Email Address </span>
            </span>
          </label>
          <div
            class="text-danger-reset-form"
            ng-repeat="messages in vm.messages.email track by $index"
          >
            {{ messages }}
          </div>
          <div class="contain-validation-contain-reset-password">
            {{ vm.generalMessage }}
          </div>
        </div>
        <div class="contain-submit-reset-form">
          <button
            type="submit"
            class="btn btn-primary waves-effect text-center"
          >
            Reset my password
          </button>
        </div>
      </form>
      <div class="support-information-reset-form">
        <div class="sign-underline-reset-form"></div>
        <p class="text-inverse text-support-reset-form">
          Thank you and enjoy our website
        </p>
        <p class="text-inverse text-support-team-reset-form">
          <b>Your JSQL Team</b>
        </p>
        <div class="logo-support-reset-form">
          <img
            src="./images/auth/jsql-logo-alfa.png"
            alt="JSQL Admin"
            width="60"
            height="60"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- end of -->
</section>
