.securityController {

  .col {
    max-width: 38rem;
  }

  .outer-form-group {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .ion-refresh {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  .center-btn {
    align-items: center;
  }

}
