<div class="securityController subpage">

    <div class="spinner" ng-show="vm.loading">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div ng-show="!vm.loading">
        <h2>{{ vm.application.name }} - security options</h2>
        <div class="underline-title-card"></div>
        <div class="row">
            <div class="col">

                <div class="alert alert-info" role="alert">
                    {{ vm.securityInfo }}
                </div>

                <form ng-submit="vm.submitOptions()">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input {{vm.messages.prod ? 'is-invalid' : ''}}" id="prod" ng-change="vm.warningProdMode()" ng-model="vm.options.prod">
                            <label class="custom-control-label" for="prod">Production mode</label>
                        </div>
                        <div class="invalid-feedback" ng-show="vm.messages.prod">
                            {{ vm.messages.prod }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="encodingAlgorithm">Encoding algorithm</label>
                        <select id="encodingAlgorithm" class="form-control" ng-model="vm.options.encodingAlgorithm" ng-options="option.value as option.name for option in vm.encodingAlgorithmValues" ng-disabled="vm.options.prod"></select>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input {{vm.messages.isSalt ? 'is-invalid' : ''}}" id="isSalt" ng-model="vm.options.isSalt" ng-disabled="vm.options.prod">
                            <label class="custom-control-label" for="isSalt">Enable salt adding</label>
                        </div>
                        <div class="invalid-feedback" ng-show="vm.messages.isSalt">
                            {{ vm.messages.isSalt }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input {{vm.messages.saltAfter ? 'is-invalid' : ''}}" id="saltAfter" ng-model="vm.options.saltAfter" ng-disabled="!vm.options.isSalt || vm.options.prod">
                            <label class="custom-control-label" for="saltAfter">Add salt after query</label>
                        </div>
                        <div class="invalid-feedback" ng-show="vm.messages.saltAfter">
                            {{ vm.messages.saltAfter }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input {{vm.messages.saltBefore ? 'is-invalid' : ''}}" id="saltBefore" ng-model="vm.options.saltBefore" ng-disabled="!vm.options.isSalt || vm.options.prod">
                            <label class="custom-control-label" for="saltBefore">Add salt before query</label>
                        </div>
                        <div class="invalid-feedback" ng-show="vm.messages.saltBefore">
                            {{ vm.messages.saltBefore }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="salt">Salt</label>
                        <input id="salt" type="text" class="form-control {{vm.messages.salt ? 'is-invalid' : ''}}" ng-model="vm.options.salt" ng-disabled="!vm.options.isSalt || vm.options.saltRandomize"/>
                        <div class="invalid-feedback" ng-show="vm.messages.salt">
                            {{ vm.messages.salt }}
                        </div>
                        <button type="button" class="btn btn-primary mt-2" ng-click="vm.generateRandomSalt()" ng-disabled="!vm.options.isSalt || vm.options.prod || vm.options.saltRandomize">
                            Generate
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input {{vm.messages.saltRandomize ? 'is-invalid' : ''}}" id="saltRandomize" ng-model="vm.options.saltRandomize" ng-disabled="!vm.options.isSalt || vm.options.prod">
                            <label class="custom-control-label" for="saltRandomize">Generate random salt in-fly</label>
                        </div>
                        <div class="invalid-feedback" ng-show="vm.messages.saltRandomize">
                            {{ vm.messages.saltRandomize }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input {{vm.messages.hashLengthLikeQuery ? 'is-invalid' : ''}}" id="hashLengthLikeQuery" ng-model="vm.options.hashLengthLikeQuery" ng-disabled="vm.options.prod">
                            <label class="custom-control-label" for="hashLengthLikeQuery">Hash length should be equal to query length</label>
                        </div>
                        <div class="invalid-feedback" ng-show="vm.messages.hashLengthLikeQuery">
                            {{ vm.messages.hashLengthLikeQuery }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hashMinLength">Hash min length</label>
                        <input id="hashMinLength" type="number" class="form-control {{vm.messages.hashMinLength ? 'is-invalid' : ''}}" ng-model="vm.options.hashMinLength" ng-disabled="vm.options.hashLengthLikeQuery || vm.options.prod"/>
                        <div class="invalid-feedback" ng-show="vm.messages.hashMinLength">
                            {{ vm.messages.hashMinLength }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hashMaxLength">Hash max length</label>
                        <input id="hashMaxLength" type="number" class="form-control {{vm.messages.hashMaxLength ? 'is-invalid' : ''}}" ng-model="vm.options.hashMaxLength" ng-disabled="vm.options.hashLengthLikeQuery || vm.options.prod"/>
                        <div class="invalid-feedback" ng-show="vm.messages.hashMaxLength">
                            {{ vm.messages.hashMaxLength }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input {{vm.messages.removeQueriesAfterBuild ? 'is-invalid' : ''}}" id="removeQueriesAfterBuild" ng-model="vm.options.removeQueriesAfterBuild" ng-disabled="vm.options.prod">
                            <label class="custom-control-label" for="removeQueriesAfterBuild">Remove developer queries after build</label>
                        </div>
                        <div class="invalid-feedback" ng-show="vm.messages.removeQueriesAfterBuild">
                            {{ vm.messages.removeQueriesAfterBuild }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="databaseDialect">Database dialect</label>
                        <select id="databaseDialect" class="form-control" ng-model="vm.options.databaseDialect" ng-options="option.value as option.name for option in vm.databaseDialectValues" ng-disabled="vm.options.prod"></select>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input {{vm.messages.plainQueriesAllowed ? 'is-invalid' : ''}}" id="plainQueriesAllowed" ng-model="vm.options.plainQueriesAllowed" ng-disabled="vm.options.prod">
                            <label class="custom-control-label" for="plainQueriesAllowed">Disable hashing for development mode</label>
                        </div>
                        <div class="invalid-feedback" ng-show="vm.messages.plainQueriesAllowed">
                            {{ vm.messages.plainQueriesAllowed }}
                        </div>
                    </div>

                    <div class="outer-form-group">
                        <h6>Production database settings</h6>

                        <div class="alert alert-info" role="alert">
                            Connection URL should have JDBC syntax:
                            <br/>
                            jdbc:[postgresql;mysql]://[database_host]:[port]/[database_name]
                        </div>

                        <div class="form-group">
                            <label for="productionDatabaseOptions.databaseConnectionUrl">Connection URL</label>
                            <input id="productionDatabaseOptions.databaseConnectionUrl" type="text" class="form-control {{vm.messages.productionDatabaseOptions.databaseConnectionUrl ? 'is-invalid' : ''}}" ng-model="vm.options.productionDatabaseOptions.databaseConnectionUrl" ng-disabled="vm.options.prod"/>
                            <div class="invalid-feedback" ng-show="vm.messages.productionDatabaseOptions.databaseConnectionUrl">
                                {{ vm.messages.productionDatabaseOptions.databaseConnectionUrl }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productionDatabaseOptions.databaseConnectionUsername">Username</label>
                            <input id="productionDatabaseOptions.databaseConnectionUsername" type="text" class="form-control {{vm.messages.productionDatabaseOptions.databaseConnectionUsername ? 'is-invalid' : ''}}" ng-model="vm.options.productionDatabaseOptions.databaseConnectionUsername" ng-disabled="vm.options.prod"/>
                            <div class="invalid-feedback" ng-show="vm.messages.productionDatabaseOptions.databaseConnectionUsername">
                                {{ vm.messages.productionDatabaseOptions.databaseConnectionUsername }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productionDatabaseOptions.databaseConnectionPassword">Password</label>
                            <input id="productionDatabaseOptions.databaseConnectionPassword" type="password" class="form-control {{vm.messages.productionDatabaseOptions.databaseConnectionPassword ? 'is-invalid' : ''}}" ng-model="vm.options.productionDatabaseOptions.databaseConnectionPassword" ng-disabled="vm.options.prod"/>
                            <div class="invalid-feedback" ng-show="vm.messages.productionDatabaseOptions.databaseConnectionPassword">
                                {{ vm.messages.productionDatabaseOptions.databaseConnectionPassword }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="productionDatabaseOptions.databaseConnectionTimeout">Connection timeout (sec)</label>
                            <input id="productionDatabaseOptions.databaseConnectionTimeout" type="number" class="form-control {{vm.messages.productionDatabaseOptions.databaseConnectionTimeout ? 'is-invalid' : ''}}" ng-model="vm.options.productionDatabaseOptions.databaseConnectionTimeout" ng-disabled="vm.options.prod"/>
                            <div class="invalid-feedback" ng-show="vm.messages.productionDatabaseOptions.databaseConnectionTimeout">
                                {{ vm.messages.productionDatabaseOptions.databaseConnectionTimeout }}
                            </div>
                        </div>

                    </div>

                    <div class="outer-form-group">
                        <h6>Developers database settings</h6>

                        <div class="alert alert-info" role="alert">
                            Connection URL should have JDBC syntax:
                            <br/>
                            jdbc:[postgresql;mysql]://[database_host]:[port]/[database_name]
                        </div>

                        <div class="form-group">
                            <label for="developerDatabaseOptions.databaseConnectionUrl">Connection URL</label>
                            <input id="developerDatabaseOptions.databaseConnectionUrl" type="text" class="form-control {{vm.messages.developerDatabaseOptions.databaseConnectionUrl ? 'is-invalid' : ''}}" ng-model="vm.options.developerDatabaseOptions.databaseConnectionUrl" ng-disabled="vm.options.prod"/>
                            <div class="invalid-feedback" ng-show="vm.messages.developerDatabaseOptions.databaseConnectionUrl">
                                {{ vm.messages.developerDatabaseOptions.databaseConnectionUrl }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="developerDatabaseOptions.databaseConnectionUsername">Username</label>
                            <input id="developerDatabaseOptions.databaseConnectionUsername" type="text" class="form-control {{vm.messages.developerDatabaseOptions.databaseConnectionUsername ? 'is-invalid' : ''}}" ng-model="vm.options.developerDatabaseOptions.databaseConnectionUsername" ng-disabled="vm.options.prod"/>
                            <div class="invalid-feedback" ng-show="vm.messages.developerDatabaseOptions.databaseConnectionUsername">
                                {{ vm.messages.developerDatabaseOptions.databaseConnectionUsername }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="developerDatabaseOptions.databaseConnectionPassword">Password</label>
                            <input id="developerDatabaseOptions.databaseConnectionPassword" type="password" class="form-control {{vm.messages.developerDatabaseOptions.databaseConnectionPassword ? 'is-invalid' : ''}}" ng-model="vm.options.developerDatabaseOptions.databaseConnectionPassword" ng-disabled="vm.options.prod"/>
                            <div class="invalid-feedback" ng-show="vm.messages.developerDatabaseOptions.databaseConnectionPassword">
                                {{ vm.messages.developerDatabaseOptions.databaseConnectionPassword }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="developerDatabaseOptions.databaseConnectionTimeout">Connection timeout (sec)</label>
                            <input id="developerDatabaseOptions.databaseConnectionTimeout" type="number" class="form-control {{vm.messages.developerDatabaseOptions.databaseConnectionTimeout ? 'is-invalid' : ''}}" ng-model="vm.options.developerDatabaseOptions.databaseConnectionTimeout" ng-disabled="vm.options.prod"/>
                            <div class="invalid-feedback" ng-show="vm.messages.developerDatabaseOptions.databaseConnectionTimeout">
                                {{ vm.messages.developerDatabaseOptions.databaseConnectionTimeout }}
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary" ng-disabled="vm.options.prod">Save options</button>
                </form>
            </div>
        </div>
    </div>

</div>
