<div class="securityController subpage">

    <div class="spinner" ng-show="vm.loading">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div ng-show="!vm.loading">
        <h2>{{ vm.options.application.name }} - security options</h2>
        <div class="underline-title-card"></div>
        <div class="row">
            <div class="col">

                <form ng-submit="vm.submitOptions()">
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="prod" ng-change="vm.warningProdMode()" ng-model="vm.options.prod">
                            <label class="custom-control-label" for="prod">Production mode</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="encodingAlgorithm">Encoding algorithm</label>
                        <select id="encodingAlgorithm" class="form-control" ng-model="vm.options.encodingAlgorithm" ng-options="option.value as option.name for option in vm.encodingAlgorithmValues" ng-disabled="vm.options.prod"></select>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="isSalt" ng-model="vm.options.isSalt" ng-disabled="vm.options.prod">
                            <label class="custom-control-label" for="isSalt">Enable salt adding</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="saltAfter" ng-model="vm.options.saltAfter" ng-disabled="!vm.options.isSalt || vm.options.prod">
                            <label class="custom-control-label" for="saltAfter">Add salt after query</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="saltBefore" ng-model="vm.options.saltBefore" ng-disabled="!vm.options.isSalt || vm.options.prod">
                            <label class="custom-control-label" for="saltBefore">Add salt before query</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="salt">Salt</label>
                        <input id="salt" type="text" class="form-control" ng-model="vm.options.salt" ng-disabled="!vm.options.isSalt"/>
                        <button type="button" class="btn btn-primary mt-2" ng-click="vm.generateRandomSalt()" ng-disabled="!vm.options.isSalt || vm.options.prod">
                            Generate
                        </button>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="saltRandomize" ng-model="vm.options.saltRandomize" ng-disabled="!vm.options.isSalt || vm.options.prod">
                            <label class="custom-control-label" for="saltRandomize">Generate random salt in-fly</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="hashLengthLikeQuery" ng-model="vm.options.hashLengthLikeQuery" ng-disabled="vm.options.prod">
                            <label class="custom-control-label" for="hashLengthLikeQuery">Hash length should be equal to query length</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hashMinLength">Hash min length</label>
                        <input id="hashMinLength" type="number" class="form-control" ng-model="vm.options.hashMinLength" ng-disabled="vm.options.hashLengthLikeQuery || vm.options.prod"/>
                    </div>
                    <div class="form-group">
                        <label for="hashMaxLength">Hash max length</label>
                        <input id="hashMaxLength" type="number" class="form-control" ng-model="vm.options.hashMaxLength" ng-disabled="vm.options.hashLengthLikeQuery || vm.options.prod"/>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="removeQueriesAfterBuild" ng-model="vm.options.removeQueriesAfterBuild" ng-disabled="vm.options.prod">
                            <label class="custom-control-label" for="removeQueriesAfterBuild">Remove developer queries after build</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="databaseDialect">Database dialect</label>
                        <select id="databaseDialect" class="form-control" ng-model="vm.options.databaseDialect" ng-options="option.value as option.name for option in vm.databaseDialectValues" ng-disabled="vm.options.prod"></select>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="plainQueriesAllowed" ng-model="vm.options.plainQueriesAllowed" ng-disabled="vm.options.prod">
                            <label class="custom-control-label" for="plainQueriesAllowed">Disable hashing for development mode</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-disabled="vm.options.prod">Save options</button>
                </form>
            </div>
        </div>
    </div>

</div>
