/*
    DEMO STYLE
*/

body {
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #ffffff0f;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

.description-overflow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: 1rem;
}

.underline-title-card {
  background-color: rgba(41, 41, 41, 0.51);
  height: 1px;
  margin-bottom: 15px;
}

/* ---------------------------------------------------
    ICONS
----------------------------------------------------- */

.icon-documentation {
  background-image: url('../images/icons/docs.png');
}

.icon-users {
  background-image: url('../images/icons/users.png');
}

.icon-apps {
  background-image: url('../images/icons/apps.png');
}

.icon-profile {
  background-image: url('../images/icons/profile.png');
}

.icon-admins {
  background-image: url('../images/icons/admins.png');
}

.icon-applications {
  background-image: url('../images/icons/applications.png');
}

.icon-builds {
  background-image: url('../images/icons/builds.png');
}

.icon-traffic {
  background-image: url('../images/icons/traffic.png');
}

.icon-team {
  background-image: url('../images/icons/my_team.png');
}

.icon-developer-key {
  background-image: url('../images/icons/developer_key.png');
}

.icon-queries {
  background-image: url('../images/icons/sql_queries.png');
}

.icon-security {
  background-image: url('../images/icons/options.png');
}

.icon-billing {
  background-image: url('../images/icons/billing.png');
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  flex: 1;
  min-height: 100vh;
  transition: all 0.3s;
}

.btn-info {
  color: #fff;
  background-color: #0c7abd;
  border-color: #0b7abc;
}

.btn-warning {
  color: #ffffff;

  &:focus {
    color: #ffffff;
  }

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
  }

}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

//.profileController .avatar {
//  background-repeat: no-repeat;
//  background-size: 100%;
//  height: 80px;
//  background-color: #d0d0d0;
//  display: flex;
//  width: 100px;
//  margin-right: 1rem;
//}
//
//.profileController .avatar-group {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//
//}
//
//.buildsController .stats .col {
//  padding: 1rem;
//  flex-direction: column;
//  display: flex;
//  width: 25%;
//  align-items: center;
//  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(10,124,190,1) 0%, rgba(23,109,179,1) 100%);
//  color: #fff;
//  /* margin: 0 0.25rem; */
//  flex: 0 0 23%;
//  max-width: 23%;
//}
//
//.buildsController .stats .col:not(:last-child){
//  margin-right: 0.25rem;
//}
//
//.buildsController .stats .col span {
//  display: flex;
//}
//
//.buildsController .stats .col span:nth-child(1){
//  padding: 1rem;
//  /* width: 100%; */
//}
//
//.buildsController .stats .col span:nth-child(2){
//  padding: 0;
//}
//
//.buildsController .stats .col span:nth-child(3){padding-top: 1rem;font-size: 2rem;}

/* ---------------------------------------------------
    FIELD INPUT
----------------------------------------------------- */

.field,
.field_danger {
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input,
.field_danger__input {
  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder,
.field_danger__input:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder,
.field_danger:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field,
.b-field {
  display: inline-block;
}

.a-field__input,
.b-field__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus,
.b-field__input:focus {
  outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field b-field */

.a-field,
.b-field {
  --uiFieldHeight: var(--fieldHeight, 25px);
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 1px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 1px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 35px);

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;
}

.a-field .a-field__input,
.b-field .b-field__input {
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
}

.a-field .a-field__input::-webkit-input-placeholder,
.b-field .b-field__input::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.a-field .a-field__input::-moz-placeholder,
.b-field .b-field__input::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.a-field
.a-field__input:not(:placeholder-shown)
~ .a-field__label-wrap
.a-field__label,
.b-field
.b-field__input:not(:placeholder-shown)
~ .b-field__label-wrap
.b-field__label {
  opacity: 0;
  bottom: var(--uiFieldPaddingBottom);
}

.a-field .a-field__input:focus::-webkit-input-placeholder,
.b-field .b-field__input:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.a-field .a-field__input:focus::-moz-placeholder,
.b-field .b-field__input:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.a-field .a-field__label-wrap,
.b-field .b-field__label-wrap {
  box-sizing: border-box;
  width: 100%;
  height: var(--uiFieldHeight);

  pointer-events: none;
  cursor: text;

  position: absolute;
  bottom: 0;
  left: 0;
}

.a-field .a-field__label,
.b-field .b-field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  bottom: calc(50% - 0.1em);

  line-height: 1;
  font-size: var(--uiFieldHintFontSize);

  pointer-events: none;
  transition: bottom 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15),
  opacity 0.2s ease-out;
  will-change: bottom, opacity;
}

.a-field .a-field__input:focus ~ .a-field__label-wrap .a-field__label,
.b-field .b-field__input:focus ~ .b-field__label-wrap .b-field__label {
  opacity: 1;
  bottom: var(--uiFieldHeight);
}

/* a-field_a1 b-field_b1 */

.a-field_a1 .a-field__input,
.b-field_b1 .b-field__input {
  transition: border-color 0.2s ease-out;
  will-change: border-color;
}

.a-field_a1 .a-field__input:focus,
.b-field_b1 .b-field__input:focus {
  border-color: var(--fieldBorderColorActive);
}

/* a-field_a2 b-field_b2 */

.a-field_a2 .a-field__label-wrap:after,
.b-field_b2 .b-field__label-wrap:after {
  content: "";
  box-sizing: border-box;
  width: 0;
  height: var(--uiFieldBorderWidth);
  background-color: var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: width;
  transition: width 0.285s ease-out;
}

.a-field_a2 .a-field__input:focus ~ .a-field__label-wrap:after,
.b-field_b2 .b-field__input:focus ~ .b-field__label-wrap:after {
  width: 100%;
}

/* a-field_a3  b-field_b3 */

.a-field_a3,
.b-field_b3 {
  padding-top: 1.5em;
}

.a-field_a3 .a-field__label-wrap:after,
.b-field_b3 .b-field__label-wrap:after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;

  opacity: 0;
  border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);

  position: absolute;
  bottom: 0;
  left: 0;

  will-change: opacity, height;
  transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap:after,
.b-field_b3 .b-field__input:focus ~ .b-field__label-wrap:after {
  height: 100%;
  opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label,
.b-field_b3 .b-field__input:focus ~ .b-field__label-wrap .b-field__label {
  bottom: calc(var(--uiFieldHeight) + 0.5em);
}

/*
=====
LEVEL 4. SETTINGS
=====
*/

.field {
  --fieldBorderColor: rgb(171, 171, 171);
  --fieldBorderColorActive: black;
  font-size: 14px;
}

.field_danger {
  --fieldBorderColor: rgb(255, 85, 85);
  --fieldBorderColorActive: red;
  font-size: 14px;
}

@media only screen and (min-width: 720px) {
  .field-resize {
    width: 280px;
  }
}

.subpage {
  padding: 0rem 1rem 1rem 1rem;
}

h2 {
  color: #444;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #0c79bb;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

.spinner {
  text-align: center;
  padding: 2rem;

  &.white {
    .lds-ellipsis div {
      background: #fff;
    }
  }

}

.glyphicon, .glyphicon-ok:before, glyphicon-remove:before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-ok:before {
  content: "\f122";
}

.glyphicon-remove:before {
  content: "\f12a";
}

.dropdown-multiselect {

  .caret {
    margin-left: 2rem;
  }

  .dropdown-menu {
    padding: 0.5rem;

    a{

      span:first-child {
        width: 1rem;
        float: left;
        text-align: center;
        line-height: 23px;
        margin-right: 0.25rem;

        &:not(.glyphicon){
          width: 1rem;
          float: left;
          height: 1px;
        }

      }

    }

    li[role="presentation"]:nth-child(4) {
      border-top: 1px solid #191818;
    }

  }

  .btn-default {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
  }

  .btn-default:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc
  }

}

.uib-datepicker-popup {

  .btn-secondary {
    color: #007bff;
    background-color: #ffffff;
    border-color: #007bff;
  }

  small, em {
    color: #007bff;
    font-weight: bold;
  }

  .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    span.text-info {
      color: #fff !important;
    }

  }

}

.max-width {
  width: 100%;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #007bff;
  background-color: #ffffff;
  border-color: #007bff;
}

.chart-field{
  width: 100%;
}

.canvas-build {
  width: 100%;
  height: 400px;
}

.clickable {
  cursor: pointer;
}

.form-control:disabled,  .form-control[readonly] {
  background-color: #ececec;
  cursor: not-allowed;
}