/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(10,124,190,1) 0%, rgba(23,109,179,1) 100%);
}

nav#sidebar {}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 1rem 0.5rem;
    flex-direction: row;
    display: flex;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    width: 100%;
}

#sidebar ul li a .icon {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
}

#sidebar ul li.active {
    border-left: 2px solid #fff;
}

#sidebar ul li:hover {
    border-left: 2px solid #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
}

#sidebar .sidebar-header .avatar {
    background-image: url('../images/avatar.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80px;
    height: 80px;
    background-color: #d0d0d0;
    border: 3px solid #fff;
    display: flex;
}

#sidebar .sidebar-header .details {
    padding-left: 1rem;
}

#sidebar .sidebar-header .type {
    
}

#sidebar .sidebar-header .name {

}

#sidebar .sidebar-header .company {

}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ffffff0f;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    ICONS
----------------------------------------------------- */

.icon {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
}

.icon-traffic {
    background-image: url('../images/icons/traffic.png');
}

.icon-pgadmin {
    background-image: url('../images/icons/pgadmin.png');
}

.icon-documentation {
    background-image: url('../images/icons/docs.png');
}

.icon-profile {
    background-image: url('../images/icons/profile.png');
}

.icon-admins {
    background-image: url('../images/icons/admins.png');
}

.icon-applications {
    background-image: url('../images/icons/applications.png');
}

.icon-builds {
    background-image: url('../images/icons/builds.png');
}

.icon-team {
    background-image: url('../images/icons/my_team.png');
}

.icon-developer-key {
    background-image: url('../images/icons/developer_key.png');
}

.icon-queries {
    background-image: url('../images/icons/sql_queries.png');
}

.icon-security {
    background-image: url('../images/icons/options.png');
}

.icon-billing {
    background-image: url('../images/icons/billing.png');
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.btn-info {
    color: #fff;
    background-color: #0c7abd;
    border-color: #0b7abc;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

.profileController .avatar {
    background-image: url(../images/avatar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80px;
    background-color: #d0d0d0;
    display: flex;
    width: 80px;
    margin-right: 1rem;
}

.profileController .avatar-group {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.buildsController .stats .col {
    padding: 1rem;
    flex-direction: column;
    display: flex;
    width: 25%;
    align-items: center;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(10,124,190,1) 0%, rgba(23,109,179,1) 100%);
    color: #fff;
    /* margin: 0 0.25rem; */
    flex: 0 0 23%;
    max-width: 23%;
}

.buildsController .stats .col:not(:last-child){
    margin-right: 0.25rem;
}

.buildsController .stats .col span {
    display: flex;
}

.buildsController .stats .col span:nth-child(1){
    padding: 1rem;
    /* width: 100%; */
}

.buildsController .stats .col span:nth-child(2){
    padding: 0;
}

.buildsController .stats .col span:nth-child(3){padding-top: 1rem;font-size: 2rem;}
