<section class="resetController">

    <div class="reset-form">

        <h5>
            Setting new password
        </h5>

        <div class="form-wrapper">

            <div class="logo-container">
                <div class="logo"></div>
            </div>

            <div class="form-container">

                <div class="logo-container">
                    <div class="logo"></div>
                </div>

                <form ng-submit="vm.submitReset()">

                    <div class="form-group">
                        <label for="newPassword">New password</label>
                        <input ng-model="vm.changePassword.newPassword" type="password"
                               class="form-control {{vm.messages.newPassword ? 'is-invalid' : ''}}"
                               id="newPassword" autocomplete="off"/>
                        <div class="invalid-feedback" ng-show="vm.messages.newPassword">
                            {{ vm.messages.newPassword }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="repeatNewPassword">Repeat new password</label>
                        <input ng-model="vm.changePassword.repeatNewPassword" type="password"
                               class="form-control {{vm.messages.repeatNewPassword ? 'is-invalid' : ''}}"
                               id="repeatNewPassword" autocomplete="off"/>
                        <div class="invalid-feedback" ng-show="vm.messages.repeatNewPassword">
                            {{ vm.messages.repeatNewPassword }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Set password</button>

                </form>

            </div>

        </div>

        <div class="friendly-information">
            <div class="underline"></div>

            <div class="info-row">
                <div class="desc">
                    <p class="text-left">Thank you and enjoy our solution</p>
                    <p class="text-left">Your JSQL Team</p>
                </div>
                <div class="logo-container">
                    <div class="logo"></div>
                </div>
            </div>

        </div>

    </div>

</section>
