.trafficController {

  .empty {
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    color: #007bff;
    font-weight: bold;
  }

  .spinner {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .form-inline {

    .form-group {
      margin-right: 1rem;
      margin-top: 0.5rem;

      label {
        margin-right: 1rem;
      }

      .input-group-btn {
        margin-left: 0.5rem;
      }

    }

  }

  .table-flex {
    display: flex;
    flex-direction: column;

    .tbody {
      display: flex;
      flex-direction: column;

      .tr {
        display: flex;
        flex-direction: row;

        &.thead {
          font-weight: bold;

          > .td {
            background: #007bff;
            color: white;
            border-left: 1px solid #fff;

            &:first-child{
              border-left: 1px solid #007bff;
            }

          }

        }

        &:not(.thead):last-child{

          .td {

            &:first-child {
              border-bottom-left-radius: 6px;
            }

            &:last-child {
              border-bottom-right-radius: 6px;
            }

          }

        }

        .td {
          //display: flex; -- removed because ellipsis not working
          flex: 1;
          align-items: center;
          justify-content: left;
          border: 1px solid #dee2e6;
          padding: .5rem;
          margin-top: -1px;
          margin-left: -1px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          line-height: 2.5;
        }

      }

    }

  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .form-inline {

    .form-group:first-child {
      label {
        width: 5rem;
      }
    }

  }

}