<div ng-if="vm.section === 'list-admins'" class="content administatorsController">
  <h2>Admins</h2>
  <div class="underline-title-card"></div>
  <div class="row mt-2">
    <div class="col-12">
      <form class="form-inline">
        <button type="submit" class="btn btn-primary" ng-click="vm.section = 'add-admin'">
          + Add admin
        </button>
      </form>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Admin name</th>
            <th scope="col">Email</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="admin in vm.admins track by $index">
            <td class="description-overflow">
              {{ admin.firstName + " " + admin.lastName }}
            </td>
            <td class="description-overflow">{{ admin.email }}</td>
            <td>
              <form class="form-inline">
                <button style="margin: 5px;" type="button" class="btn btn-danger mr-2" ng-click="vm.deleteAdminOpenModal(admin.id)">
                  Delete
                </button>
                <button style="margin: 5px;" type="button" class="btn btn-primary" ng-click="vm.demoteAdminOpenModal(admin)">
                  Demote to member
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="content buildsController" ng-if="vm.section==='add-admin'">
  <h2>Add admin</h2>

  <div class="row mt-2">
    <div class="col-12">
      <form ng-submit="vm.validateAddAdmin()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" ng-model="vm.email" ng-blur="vm.validateEmail(true)" ng-change="vm.validateEmail()"/>
          <p class="text-danger" ng-repeat="message in vm.messages.email track by $index">
            {{ message }}
          </p>
        </div>

        <div class="form-group">
          <label for="firstName">First name</label>
          <input type="text" class="form-control" id="firstName" ng-model="vm.firstName" ng-blur="vm.validateFirstName(true)" ng-change="vm.validateFirstName()"/>
          <p class="text-danger" ng-repeat="message in vm.messages.firstName track by $index">
            {{ message }}
          </p>
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" ng-model="vm.lastName" ng-blur="vm.validateLastName(true)" ng-change="vm.validateLastName()"/>
          <p class="text-danger" ng-repeat="message in vm.messages.lastName track by $index">
            {{ message }}
          </p>
        </div>
        <p class="text-danger">{{ vm.generalMessage }}</p>
        <button type="submit" class="btn btn-primary">Add</button>
        <button class="btn btn-secondary" ng-click="vm.backToListAdmins()">
          Back
        </button>
      </form>
    </div>
  </div>
</div>
