<section class="sign-card-register registerController">
  <!-- starts -->
  <div class="sign-contain">
    <div class="sign-form">
      <form ng-submit="vm.validateRegisterForm()">
        <div class="title-sign"><b>Register</b></div>
        <div class="form-contain-step">
          <div class="icon-sign"><i class="fa fa-envelope"></i></div>
          <label class="field-resize field a-field a-field_a1 page__field">
            <input type="text" placeholder="Email" class="field__input a-field__input" ng-model="vm.email" ng-blur="vm.validateEmail(true)" ng-change="vm.validateEmail()"/>
            <span class="a-field__label-wrap">
              <span class="a-field__label"> Email </span>
            </span>
          </label>
          <div class="text-danger" ng-repeat="messages in vm.messages.email track by $index">
            {{ messages }}
          </div>
        </div>
        <div class="form-contain-step">
          <div class="icon-sign"><i class="fa fa-unlock-alt"></i></div>
          <label class="field-resize field a-field a-field_a1 page__field">
            <input type="password" placeholder="Password" class="field__input a-field__input" ng-model="vm.password" ng-blur="vm.validatePassword(true)" ng-change="vm.validatePassword()"/>
            <span class="a-field__label-wrap">
              <span class="a-field__label"> Password </span>
            </span>
          </label>
          <div class="text-danger-password" ng-repeat="messages in vm.messages.password track by $index">
            {{ messages }}
          </div>
        </div>
        <div class="form-contain-step">
          <div class="icon-sign">
            <i class="fa fa-unlock-alt" style="opacity: 0.5;"> </i>
          </div>
          <label class="field-resize field a-field a-field_a1 page__field">
            <input type="password" placeholder="Repeat-Password" class="field__input a-field__input" ng-model="vm.repeatPassword" ng-blur="vm.validateRepeatPassword(true)" ng-change="vm.validateRepeatPassword()"/>
            <span class="a-field__label-wrap">
              <span class="a-field__label"> Repeat Password </span>
            </span>
          </label>
          <div class="text-danger" ng-repeat="messages in vm.messages.repeatPassword track by $index"
          >
            {{ messages }}
          </div>
        </div>
        <div class="form-contain-step">
          <div class="icon-sign"><i class="fa fa-user"></i></div>
          <label class="field-resize field a-field a-field_a1 page__field">
            <input type="text" placeholder="First Name" class="field__input a-field__input" ng-model="vm.firstName" ng-blur="vm.validateFirstName(true)" ng-change="vm.validateFirstName()"/>
            <span class="a-field__label-wrap">
              <span class="a-field__label"> First Name </span>
            </span>
          </label>
          <div class="text-danger" ng-repeat="messages in vm.messages.firstName track by $index">
            {{ messages }}
          </div>
        </div>
        <div class="form-contain-step">
          <div class="icon-sign">
            <i class="fa fa-user" style="opacity: 0.5;"> </i>
          </div>
          <label class="field-resize field a-field a-field_a1 page__field">
            <input type="text" placeholder="Last Name" class="field__input a-field__input" ng-model="vm.lastName" ng-blur="vm.validateLastName(true)" ng-change="vm.validateLastName()"/>
            <span class="a-field__label-wrap">
              <span class="a-field__label"> Last Name </span>
            </span>
          </label>
          <div class="text-danger-last-name" ng-repeat="messages in vm.messages.lastName track by $index">
            {{ messages }}
          </div>
        </div>
        <div class="form-contain-step">
          <div class="icon-sign">
            <i class="fas fa-paper-plane"></i>
          </div>
          <div class="icon-sign-down">
            <i class="fas fa-sort-down" ng-click="vm.activeSelect()"></i>
          </div>
          <label class="field-resize field a-field a-field_a1 page__field">
            <input type="text" placeholder="Choose Plan" class="field__input a-field__input plan-form" ng-model="vm.plan" ng-disabled="vm.disableSelect" id="select-register" ng-click="vm.setVissibleSelect()" ng-blur="vm.setVissibleSelect()"/>
            <span class="a-field__label-wrap">
              <span class="a-field__label"> Choose Plan </span>
            </span>
          </label>
          <div class="text-danger-last-name" ng-repeat="messages in vm.messages.plan track by $index">
            {{ messages }}
          </div>
          <div class="select-contain" ng-if="vm.vissibleSelect === true">
              <p ng-click="vm.choosePlan('STARTER')">Starter</p>
              <p ng-click="vm.choosePlan('BUSINESS')">Business</p>
              <p ng-click="vm.choosePlan('LARGE')">Large</p>
          </div>
        </div>
        <div class="contain-validation">
          {{ vm.generalMessage }}
        </div>
        <div class="contain-submit">
          <button type="submit" class="btn btn-primary waves-effect text-center col-7 col-md-5 btn-sign">Register</button>
          <button type="button" class="btn btn-secondary waves-effect text-center col-7 col-md-5 btn-sign" ng-click="vm.go()">Sign In</button>
        </div>
      </form>
    </div>
    <div class="sign-information">
      <div class="contain-picture-logo">
        <img class="picture-logo" src="./images/auth/jsql-logo-alfa.png" alt="JSQL Admin"/>
      </div>
      <div class="support-information">
        <div class="sign-underline"></div>
        <p class="text-inverse text-support">
          Thank you and enjoy our website
        </p>
        <p class="text-inverse text-support-team">
          <b>Your JSQL Team</b>
        </p>
        <div class="logo-support">
          <img src="./images/auth/jsql-logo-alfa.png" alt="JSQL Admin" width="60" height="60"/>
        </div>
      </div>
    </div>
  </div>
  <!-- end of -->
</section>
