.sidebarComponent {
  width: 250px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  color: #fff;
  transition: all 0.3s;
  background: linear-gradient(180deg,#176db3 0,#0a7cbe 0,#176db3 100%);

  .sidebar-header {
    padding: 1rem .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ul.components {
    padding: 0;
  }

  ul p {
    color: #fff;
    padding: 10px;
  }

  ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    width: 100%;

    span {
      font-size: 1rem;
      width: 2rem;
    }

  }

  ul li a .icon {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
  }

  ul li.active {
    background-color: rgba(255, 246, 246, 0.1);
  }

  ul li.expanded {
    background-color: rgba(255, 246, 246, 0.08);
  }

  ul li:hover {
    background-color: rgba(255, 246, 246, 0.08);
  }

  ul li.expanded > a,
  a[aria-expanded="true"] {
    color: #fff;
  }

  .sidebar-header .avatar {
    width: 50%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar-header .avatar img {
    border: 3px solid #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
  }

  .sidebar-header .details {
    overflow-wrap: break-word;
    word-wrap: break-word;
    flex: 1;
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .sidebar-header .type {
  }

  .sidebar-header .name {
  }

  .sidebar-header .company {
  }

  .logout-sidebar:hover {
    cursor: pointer;
  }

  .dropdown-toggle {

    &.is-empty {
      &:after {
        display: none;
      }
    }

    span.tooltip-icon {
      font-size: 1.2rem;
      flex: 1;
      text-align: right;
    }

  }

}
