.profileController {
  padding: 20px;

  .avatar-section {
    padding-bottom: 20px;
  }

  .avatar {
    width: 80px !important;
    .upload-image-user {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
  }

  button {
    width: 135px;
    margin-bottom: 10px;
  }

  .text-danger-profile {
    font-size: 12px;
    text-align: left;
    margin-left: 75px;
    color: red;
  }

  .contain-validation-contain-profile {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }

  .upload-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}
