.profileController {
  padding: 20px;

  .col {
    max-width: 28rem;
  }

  .additional-margin {
    margin-top: 6rem;
  }

  .avatar-group {
    flex-direction: row;
    display: flex;
    align-items: center;

    .avatar {
      height: 5rem;
      display: flex;
      width: 7rem;

      img {
        width: 5rem;
      }

    }

    .btn {
      display: flex;
      height: 2.5rem;
    }

  }

  .text-danger-profile {
    font-size: 12px;
    text-align: left;
    margin-left: 75px;
    color: red;
  }

  .contain-validation-contain-profile {
    float: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }

}
