.profileController {

  .col {
    max-width: 28rem;
  }

  .avatar-group {
    flex-direction: column;
    display: flex;

    .invalid-feedback {
      height: 1rem;
    }

    .avatar-subgroup {
      flex-direction: row;
      display: flex;
      align-items: center;
    }

    .avatar {
      height: 5rem;
      display: flex;
      width: 7rem;

      img {
        width: 5rem;
      }

    }

    .btn {
      display: flex;
      height: 2.5rem;
    }

  }

}
