<div class="myTeamController subpage" >

    <div class="spinner" ng-show="vm.loading">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div ng-show="!vm.loading" ng-if="vm.section === 'list-developers'">
        <h2>Developers</h2>
        <div class="underline-title-card"></div>
        <div class="row mt-2">
            <div class="col-12">
                <form class="form-inline">
                    <button type="submit" class="btn btn-primary" ng-click="vm.section = 'add-developer'">
                        + Add developer
                    </button>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Developer name</th>
                        <th scope="col">Email</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="developer in vm.developers track by $index">
                        <td class="description-overflow">
                            {{ developer.firstName + " " + developer.lastName }}
                        </td>
                        <td class="description-overflow">{{ developer.email }}</td>
                        <td>
                            <form class="form-inline">
                                <button type="button" class="btn btn-danger mr-2" ng-click="vm.deleteDeveloper(developer.id)">
                                    Delete
                                </button>
                                <button type="button" class="btn btn-primary" ng-click="vm.getApplicationsDeveloper(developer.id)">
                                    Applications privileges
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="!vm.loading" ng-if="vm.section==='add-developer'">
        <h2>New developer</h2>
        <div class="underline-title-card"></div>
        <div class="row mt-2">
            <div class="col-12">
                <form class="form-inline">
                    <button type="submit" class="btn btn-primary" ng-click="vm.backToList()">
                        Back
                    </button>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <form ng-submit="vm.addDeveloper()">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control {{vm.messages.email ? 'is-invalid' : ''}}" id="email" ng-model="vm.developer.email"/>
                        <div class="invalid-feedback" ng-show="vm.messages.email">
                            {{ vm.messages.email }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control {{vm.messages.firstName ? 'is-invalid' : ''}}" id="firstName" ng-model="vm.developer.firstName"/>
                        <div class="invalid-feedback" ng-show="vm.messages.firstName">
                            {{ vm.messages.firstName }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control {{vm.messages.lastName ? 'is-invalid' : ''}}" id="lastName" ng-model="vm.developer.lastName"/>
                        <div class="invalid-feedback" ng-show="vm.messages.lastName">
                            {{ vm.messages.lastName }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>

                </form>
            </div>
        </div>
    </div>

    <div ng-show="!vm.loading" ng-if="vm.section === 'application-developer'">
        <h2>{{vm.developer.firstName + ' ' + vm.developer.lastName}} - developer privileges</h2>
        <div class="underline-title-card"></div>
        <div class="row mt-2">
            <div class="col-12">
                <form class="form-inline">
                    <button type="submit" class="btn btn-primary" ng-click="vm.backToList()">
                        Back
                    </button>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Application</th>
                        <th scope="col">Assigned</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="application in vm.applications track by $index">
                        <td class="description-overflow">{{ application.name }}</td>
                        <td>
                            <span class="{{application.assigned ? 'badge badge-primary' : 'badge badge-secondary'}}">
                                {{ application.assigned ? "Yes" : "No"}}
                            </span>
                        </td>
                        <td>
                            <form class="form-inline">
                                <button type="button" class="btn btn-primary" ng-click="vm.assignDeveloper(application.id)">
                                    Assign
                                </button>
                                <button type="button" class="vbtn btn-secondary" ng-click="vm.unassingDeveloper(application.id)">
                                    Unassign
                                </button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
