<div class="myTeamController subpage">

    <div class="spinner" ng-show="vm.loading">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div ng-show="!vm.loading" ng-if="vm.section === 'list-developers'">
        <h2>Developers</h2>
        <div class="underline-title-card"></div>
        <div class="row mt-2">
            <div class="col-12">
                <form class="form-inline">
                    <button type="submit" class="btn btn-primary" ng-click="vm.goToAddDeveloper()">
                        + Add developer
                    </button>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">

                <div class="empty" ng-if="vm.developers.length === 0">
                    You have not developers yet
                </div>

                <div class="table-flex" ng-if="vm.developers.length > 0">
                    <!--<div class="tbody">-->
                    <!--<div class="tr thead">-->
                    <!--<div class="td">Developer</div>-->
                    <!--<div class="td">Email</div>-->
                    <!--<div class="td">&nbsp;</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="tbody">
                        <div ng-repeat="developer in vm.developers track by $index" class="tr">
                            <div class="td">
                                <img src="{{vm.getImage(developer.id)}}" class="rounded-circle"/>
                                {{ developer.firstName + " " + developer.lastName }}
                            </div>
                            <div class="td">
                                <span class="ion ion-email" ng-show="!developer.confirmed"></span>
                                {{ developer.email }}
                            </div>
                            <div class="td">
                                <form class="form-inline">
                                    <button type="button" class="btn btn-danger mr-2"
                                            ng-click="vm.deleteDeveloper(developer.id)">
                                        Delete
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            ng-click="vm.getApplicationsDeveloper(developer.id)">
                                        Applications privileges
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!vm.loading" ng-if="vm.section==='add-developer'">
        <h2>New developer</h2>
        <div class="underline-title-card"></div>
        <div class="row mt-2">
            <div class="col">
                <form class="form-inline">
                    <button type="submit" class="btn btn-primary" ng-click="vm.backToList()">
                        Back
                    </button>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <form ng-submit="vm.addDeveloper()">

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control {{vm.messages.email ? 'is-invalid' : ''}}" id="email"
                               ng-model="vm.developer.email"/>
                        <div class="invalid-feedback" ng-show="vm.messages.email">
                            {{ vm.messages.email }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control {{vm.messages.firstName ? 'is-invalid' : ''}}"
                               id="firstName" ng-model="vm.developer.firstName"/>
                        <div class="invalid-feedback" ng-show="vm.messages.firstName">
                            {{ vm.messages.firstName }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control {{vm.messages.lastName ? 'is-invalid' : ''}}"
                               id="lastName" ng-model="vm.developer.lastName"/>
                        <div class="invalid-feedback" ng-show="vm.messages.lastName">
                            {{ vm.messages.lastName }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>

                </form>
            </div>
        </div>
    </div>

    <div ng-show="!vm.loading" ng-if="vm.section === 'application-developer'">
        <h2>{{vm.developer.firstName + ' ' + vm.developer.lastName}} - developer privileges</h2>
        <div class="underline-title-card"></div>
        <div class="row mt-2">
            <div class="col-12">
                <form class="form-inline">
                    <button type="submit" class="btn btn-primary" ng-click="vm.backToList()">
                        Back
                    </button>
                </form>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <div class="table-flex">
                    <!--<div class="tbody">-->
                    <!--<div class="tr">-->
                    <!--<div class="td">Application</div>-->
                    <!--<div class="td">Assigned</div>-->
                    <!--<div class="td">&nbsp;</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="tbody">
                        <div ng-repeat="application in vm.applications track by $index" class="tr">
                            <div class="td">{{ application.name }}</div>
                            <div class="td">
                            <span class="{{application.assigned ? 'badge badge-primary' : 'badge badge-secondary'}}">
                                {{ application.assigned ? "Assigned" : "Not assigned"}}
                            </span>
                            </div>
                            <div class="td">
                                <form class="form-inline">
                                    <button type="button" class="btn btn-primary"
                                            ng-click="application.assigned ? vm.unassingDeveloper(application) : vm.assignDeveloper(application)">
                                        {{application.assigned ? 'Unassign' : 'Assign'}}
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
