<div class="applicationsController subpage">

    <div class="spinner" ng-show="vm.loading">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div ng-show="!vm.loading">
        <h2>{{ vm.application.name }} - application</h2>
        <div class="underline-title-card"></div>
        <div class="row">
            <div class="col">

                <div class="alert alert-danger" role="alert" ng-if="vm.application.prod">
                    {{ vm.productionInfo }}
                </div>

                <form>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" ng-value="vm.application.name" readonly/>
                    </div>

                    <div class="form-group">
                        <label for="applicationKey">Application key</label>
                        <input type="text" class="form-control" id="applicationKey" readonly ng-value="vm.application.apiKey"/>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="vm.copyKey('applicationKey')">
                            Copy to clipboard
                        </button>
                    </div>

                    <div class="form-group">
                        <label for="developerKey">Production key</label>
                        <input type="text" class="form-control" id="developerKey" readonly ng-value="vm.application.developerKey"/>
                    </div>

                    <div class="alert alert-info" role="alert">
                        {{ vm.productionKeyInfo }}
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-primary" ng-click="vm.copyKey('developerKey')">
                            Copy to clipboard
                        </button>

                        <button type="button" class="btn btn-primary" ng-click="vm.saveToFile()">
                            Download key
                        </button>
                    </div>

                    <div class="form-group">
                        <button ng-if="vm.role !== 'APP_DEV'" type="button" class="btn btn-danger" ng-click="vm.deleteApplication()" ng-disabled="vm.application.prod">
                            Delete application
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>
